{{> nav}}

<div class="dronePage">
  <h2>Update the drone</h2>

<form action="/drones/{{droneToEdit._id}}/edit" method="post" class="form">

  <h3>{{droneToEdit.name}}</h3>

  <label for="droneName" class="label">name</label>
  <input class="input" name="name" type="text" value="{{droneToEdit.name}}" />

  <label for="dronePropellers" class="label">propellers</label>
  <input class="input" name="propellers" type="number" value="{{droneToEdit.propellers}}" />

  <label for="droneMaxSpeed" class="label">Max Speed</label>
  <input class="input" name="maxSpeed" type="number" value="{{droneToEdit.maxSpeed}}" />

  <button class="btn edit">OK</button>
</form>


</div>